@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
 @apply font-mono w-screen h-screen bg-emerald-50 lg:px-24
}


.title {
  @apply text-2xl lg:text-4xl text-black font-bold
}


.navbar {
  @apply sticky backdrop-blur-md top-0 z-30 w-full me-11 p-3 flex justify-between items-center  border-b-2 border-black
}
.navbar::before {
  @apply  sticky bg-black w-screen z-40 top-0 left-0
}
.nav-list {
  @apply text-black lg:flex gap-2 text-3xl font-medium me-11 hidden
}

.nav-item {
  @apply p-4
}

.header {
  @apply relative mt-11 gap-11 flex flex-wrap md:flex-nowrap  items-center md:items-start justify-center
}
.intro {
  @apply flex flex-col h-full w-11/12
}

.intro-text {
  
  @apply relative  p-3 lg:p-8 bg-transparent h-[24.23rem] md:h-[29rem] left-0 w-full  border-4 border-black
}


.intro-text::after {
  content: '';
  @apply absolute mt-2 flex top-extra right-0 w-[42.23%] md:w-8/12 lg:w-9/12 rounded bg-black/55 border-2 border-black/55
}

.social {
  @apply flex my-3 md:ms-3 p-3  justify-start md:justify-start gap-3 w-full md:w-max
}

.icon {
  @apply text-black text-icon md:text-icon p-2 border border-black/30 rounded-full
}

h1 {
  @apply text-black font-mono font-bold text-4xl lg:text-8xl
}

h2 {
  @apply text-black font-mono font-bold text-2xl lg:text-4xl my-11
}

h3 {
  @apply text-black/80 font-mono font-bold text-xl lg:text-3xl
}

.register-button-container {
  @apply flex w-full justify-center mt-0
}
.register-button {
  @apply bg-transparent hover:bg-black duration-300 hover:text-white px-32 md:px-9 py-2 md:ms-[1.532rem] border-2 border-black 
}

.card-container {
  @apply hidden md:flex flex-col items-center justify-start gap-3 w-9/12 max-w-[54%] h-[calc(100vh-12rem)] overflow-x-hidden overflow-y-auto py-6;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.card-container::-webkit-scrollbar {
  @apply hidden;
}

.card-container-mobile::before {
  @apply overflow-clip w-full
}

.card-container-mobile {
  @apply  w-full flex flex-row flex-nowrap flex-shrink-0 
  md:hidden items-center justify-center gap-2 p-3 h-full overflow-x-scroll   ;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.card-mobile {
  @apply relative p-3 min-w-[21rem] min-h-[29rem] max-h-[24rem] w-[21rem] h-full  bg-orange-50 border-2 border-black rounded-sm hover:shadow-xl hover:shadow-black/30 duration-200;
}

.card-image {

  @apply w-full h-56 
}

.card-image img {
  @apply object-cover w-full h-full;
}

.card {
  @apply relative p-3 w-full max-w-sm bg-orange-50 border-2 border-black rounded-sm hover:scale-105 hover:shadow-xl hover:shadow-black/30 duration-200;
}

.card-heading {
  @apply flex py-3 items-center  gap-3 text-3xl md:text-4xl border-b-2 border-black
}

.card-icon {
  @apply text-2xl md:text-4xl
}
.card-title {
  @apply font-bold text-2xl
}
.card-description {
  @apply flex flex-shrink flex-wrap text-black/80 text-lg md:text-xl  font-bold py-3 w-full 
}

.loading-trigger {
  @apply w-full h-11;
}

.animate {
  @apply hover:scale-110
}
